#container {
    height:460px;
    width:250px;
    border-radius:5px;



}

#result {
    height:80px;
    width:250px;
    border-radius:5px;
    border: solid black 2px;
}

#buttons {
    height:380px;
    width:250px;
    background-color:rgb(245, 170, 227);
    border-radius:5px;
    border: solid black 2px;
}

#result1 {

    height:100%;
    width:100%;
    font-size:50px;  
}
button {
    height:60px;
    width:60px;
    border-radius:10px;
    margin-left:15px;
    margin-top:2px;
    border: solid black 2px;
    background-color:rgb(192, 133, 174);
    font-size:25px;
}
button:hover {
    background-color:rgb(199, 177, 192);
}
#reset {
    height:60px;
    width:60px;
    border-radius:10px;
    margin-left:15px;
    margin-top:2px;
    border: solid black 2px; 
    background-color:rgb(192, 133, 174);  
    font-size:25px;    
}
#reset:hover {
    background-color:rgb(199, 177, 192);
}
#equals {
    height:60px;
    width:140px;
}